<div class="col-md-12">
    <div class="card mt-5 bg-light">
        <div class="card bg-light">
            <h5 class="card-header">Změna hesla</h5>
            <div class="card-body">
                <p class="text-muted">Zadej nové heslo.</p>
                {control recoverForm}
            </div>
        </div>
    </div>
</div>